<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
<div class="about-container">
    <h1>About Us</h1>
<h2>Fulfilling your vehicle needs <br> when it matters the most</h2>
<img src="/images/about1.jpg" alt="">


</div>
<div class="matter">
<div class="matter1">
    <h2>Welcome to Road <span>Rescue</span></h2>
    <p>At Road Rescue, we understand that vehicle breakdowns can be a stressful and inconvenient experience, especially when they happen unexpectedly in the middle of your journey.
         Our mission is to provide a reliable and swift solution to get you back on the road as quickly as possible.</p>
    </div>
<div class="matter2">
    <h2>Who we Are</h2>
    <p>Road Rescue is a dedicated platform designed to connect vehicle owners with professional mechanics right when they need them. We are a team of automotive experts and technology enthusiasts 
        committed to delivering top-notch roadside assistance services. Our platform is built with the latest technology to ensure that you receive fast, efficient, and reliable help whenever and wherever you need it.</p>


</div>

</div>
<div class="mattersecondrow">
    <div class="matter3">
        <h2>Our Services</h2>
        <p>On-Demand Mechanic Booking: Easily book a mechanic through our website if your vehicle breaks down during your journey. Our network of skilled professionals is available to assist you 24/7.
    
            Real-Time Tracking: Monitor the arrival of your mechanic in real-time to stay informed and prepared.
            
            Expert Assistance: Our mechanics are highly trained and experienced in handling a wide range of vehicle issues, from minor repairs to more complex problems.
            
            Customer Support: Our dedicated support team is here to assist you with any questions or concerns, ensuring a smooth and hassle-free experience.</p>
    </div>
    <div class="matter4">
        <h2>Why Choose Us?</h2>
        <p>Reliability: We ensure that help is always available when you need it the most. Our mechanics are vetted and trustworthy, providing quality service every time.

            Convenience: Book a mechanic with just a few clicks from your mobile device or computer. Our user-friendly platform makes it easy to request assistance and manage your booking.
            
            Transparency: We believe in clear communication and fair pricing. You'll receive an accurate estimate of the repair costs before the work begins.
            
            Customer Satisfaction: Your satisfaction is our top priority. We strive to exceed your expectations with every service we provide.</p>
    </div>
    
</div>