<%- include('./layout/header') %>

<div class="navbar">
    <nav>
        <img src="/images/tools2.avif" alt="">
        <ul>
            <li><a href="home">Home</a></li>
            
            <li><a href="bookings">Bookings</a></li>
            <li><a href="">History</a></li>
            <li><a href="addspareparts">Spare Parts</a></li>
            
            
        </ul>
    </nav>
    <h1 class="welcomeadmin">Welcome <span>ENOSH</span> </h1>
</div>
</body>

</html>