<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
<div class="bikewaterwashcontainer">
<h1>Bike Wash</h1>
<img  src="/images/bikewaterwash1.avif" alt="">
<img src="/images/bikedetailing.jpg" alt="">
<p>₹250</p>
<button class="bikewashbookingbutton"><a href="bikewashbooking">Book Service</a></button>

</div>