<%- include('./layout/header') %>

<div class="navbar">
    <nav>
        <img src="/images/tools2.avif" alt="">
        <ul>
            <li><a>Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="login">Login</a></li>
            
        </ul>
    </nav>
</div>
</body>

</html>
<div class="services">
    <div class="water-wash">
        <h3>Water Wash</h3>
        <button><a href="waterwash">Book Water Wash</a></button>
        <p>At Road Rescue, we offer a comprehensive water wash service designed to keep your vehicle looking pristine and well-maintained. Our expert mechanics use high-quality, eco-friendly cleaning agents and advanced water wash technology to ensure a thorough and gentle clean. Whether you're dealing with stubborn grime or just want to refresh your vehicle's appearance, our water wash service removes dirt, road salt, and other contaminants, restoring your vehicle’s shine and enhancing its longevity. Enjoy the convenience of professional cleaning that not only makes your vehicle look great but also helps preserve its value. With Road Rescue, your vehicle will always make a lasting impression.</p>
        
        <img src="/images/carwash1" alt="">
    </div>
    <div class="tyre-puncture">
        <h3>Tyre Puncture</h3>
        <p>At Road Rescue, we offer prompt and efficient tyre puncture repair services to ensure you’re back on the road quickly and safely. Our skilled technicians are equipped with the latest tools and technology to handle punctures of all sizes, whether you’re dealing with a minor leak or a major flat. We provide on-the-spot repairs to minimize your downtime, ensuring your vehicle's tyres are restored to optimal condition. With our commitment to quality and customer satisfaction, you can trust us to deliver reliable and fast assistance whenever you encounter tyre issues during your journey. Choose Road Rescue for a seamless and hassle-free tyre repair experience.</p>
        <button><a href="tyrepuncture">Tyre Puncture</a></button>
        <img src="/images/tyrepunctre" alt="">
    </div>
    <div class="lock-out">
        <h3>LockOut Assistance</h3>
        <p>At Road Rescue, we understand that being locked out of your vehicle can be a frustrating and stressful experience. Our lockout assistance service is designed to provide swift and efficient help when you find yourself locked out of your car. Our skilled technicians are equipped with specialized tools and techniques to unlock your vehicle safely and without causing any damage. Whether you've lost your keys, locked them inside, or are facing a malfunctioning lock, we are here to assist you 24/7. With Road Rescue, you can count on a quick resolution to your lockout situation, allowing you to get back on the road with minimal disruption.

        </p>
        <button><a href="lockout">Lockout</a></button>
        <img src="/images/lockout.jpg" alt="">
    </div>
    <div class="break-repair">
        <h3>Break Failure</h3>
        <p>At Road Rescue, we prioritize your safety with our reliable Brake Repair service. Brakes are crucial for vehicle control and safety, and any malfunction can put you at risk. Our service provides on-site inspection, maintenance, and minor repairs of your braking system, including brake pad replacements, adjustments, and quick fixes for minor issues. Our skilled mechanics ensure that your brakes are in perfect working order so you can continue your journey with confidence. Trust Road Rescue to keep your brakes responsive and reliable whenever you need it most.

        </p>
        <button><a href="breakfailure">Break Failure</a></button>
        <img src="/images/breakfail.webp" alt="">
    </div>
    <div class="chain-repair">
        <h3>Chain Failure</h3>
        <p>Chain issues are a common problem for bike users, often leading to sudden breakdowns in the middle of a journey. Road Rescue offers quick on-site assistance for chain failures, including tightening, lubrication, and replacement if necessary. Our expert mechanics ensure your bike’s chain is properly adjusted and functioning smoothly, minimizing the risk of further damage and getting you back on the road swiftly. Trust Road Rescue to keep your ride hassle-free and safe, no matter where you are.

        </p>
        <button><a href="chainfail">Chain Repair</a></button>
        <img src="/images/chain1.webp" alt="">
    </div>
    <div class="engine-failure">
        <h3>Engine Failure</h3>
        <p>Sudden engine stalls can leave you stranded and frustrated during your journey. At Road Rescue, we provide prompt on-site support for vehicles experiencing unexpected engine shutdowns. Our skilled mechanics quickly diagnose the issue, whether it’s due to overheating, fuel problems, or minor engine malfunctions, and perform the necessary adjustments or repairs. With our assistance, you can get back on the road without the hassle of lengthy delays. Trust Road Rescue to get your engine running smoothly again, wherever your journey takes you.</p>
        <button><a href="enginefail">Engine Failure</a></button>
        <img src="/images/engine.webp" alt="">
    </div>

    
</div>
