<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
<div class="breakfailurecontainer">
    <h1>Break Failure</h1>
    <img src="/images/carbreak.jpg" alt="">
    <img src="/images/bikebreak.jpg" alt="">
    <p>₹150, ₹300</p>
    <button><a href="breakfailurebooking">Book Service</a></button>
</div>