<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
<div class="bikewaterwashcontainer">
<h1>Car Wash</h1>
<img  src="/images/carwaterwash3.jpg" alt="">
<img src="/images/carwaterwash2.jpeg" alt="">
<p>₹1050</p>
<button class="bikewashbookingbutton"><a href="carwashbooking">Book Service</a></button>

</div>