<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
<div class="breakfailurecontainer">
    <h1>Break Failure</h1>
    <img src="/images/bikechain1.webp" alt="">
    <img src="/images/bikechain2.jpg" alt="">
    <p>₹150</p>
    <button><a href="chainfailurebooking">Book Service</a></button>
</div>