<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
<h1>Vehicle LockOut</h1>
<div class="lockoutcontainer">
    
    <img src="/images/lockout1.jpg" alt="">
    <img src="/images/carlockout.webp" alt="">
    <p>₹500</p>
    <button class="lockoutbtn"><a href="booklockout">Book Service</a></button>

</div>