<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
<h1>Flat Tyre</h1>

<div class="tyrepuncturecontainer">

<img src="/images/bikepuncture.webp" alt="">
<p>₹200</p>
<img src="/images/car puncture.jpg" alt="">
<p>₹800</p>
<img src="/images/autopuncture.webp" alt="">
<p>₹600</p>
</div>
<button class="tyrepbtn"><a href="puncturebooking">Book Now</a></button>
