<%- include('./layout/header') %>

<div class="navbar">
    <nav>
        
        <ul>
            <h1 class="navname"><%= user.name %> 
                <button><a href="Home"><i class="fa-solid fa-right-from-bracket"></i></a></button>
                    
                </select>
            </h1>
            <li><a>Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="book">Services</a></li>
            <li><a href="viewreviews">Reviews</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </nav>
</div>
</body>
</html>
<div class="home-container">
<h1>RoadRescue</h1>
<p>Reliable Repairs, <span>Anytime, Anywhere</span></p>
<img src="/images/mechanic2.jpg" alt="">
<button><a href="book">Book Service</a></button>

</div>