<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
<div class="totalwaterwashcontainer">
<div class="waterwashcontainer">
    <img src="/images/bikewash.jpg" alt="">
    
</div>
<div class="bikewashprice">
    <h1>Bike Wash</h1>
    <h2>Water Wash<span> ₹100</span></h2>
    <h2>Oil<span> ₹50</span></h2>
    <h2>Delievery<span> ₹100</span></h2>
    <h2>Total<span> ₹250</span></h2>
    <button><a href="bikewash">Book Now</a></button>

</div>
<div class="carwashimg">
    <img src="/images/carwaterwash.jpg" alt="">
</div>
<div class="carwashprice">
    <h1>Car Wash</h1>
    <h2>Water Wash<span> ₹500</span></h2>
    <h2>Oil<span> ₹200</span></h2>
    <h2>Delievery<span> ₹350</span></h2>
    <h2>Total<span> ₹1050</span></h2>
    <button><a href="carwash">Book Now</a></button>

</div>
</div>